
@{
    ViewBag.Title = "ShowDepartment";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.js"></script>

<h2>Show Department</h2>

<div class="row">
    <label class="col-md-2 control-label">Department :</label>
    <div class="col-md-5">
        @Html.DropDownList("FromDepartments", new SelectList(Enumerable.Empty<SelectListItem>()))
    </div>
</div>

<script>

    $(document).ready(function () {

        $.ajax({
            url: 'http://localhost:51293/api/Department/GetDepartment',
            type: "GET",           
            datatype: JSON,
            success: function (result) {
                $(result).each(function () {
                    $("#FromDepartments").append($("<option></option>").val(this.DepartmentID).html(this.DName));
                });
            },
            error: function (data) { }
        });



    });

</script>